@font-face { font-family: Tabitha; src: url("../fonts/Tabitha.ttf"); } 

* {
    box-sizing: border-box;
    }



body {
font-family: Tabitha;
}

.header {
    display: flex;
    background-color: lightgrey;
    position: sticky; 
}
 
a {
    color: black;
    padding: 1em;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: lightskyblue;
    transition: 0.3s;
}



header {
    min-width: 480px;
    margin: 0;
    padding: 0;
}


nav {
    margin: auto;
}

.line {
    height: 50px;
    min-width: 480px;
    background-color: lightskyblue;
}

.copyright {
    height: 50px;
    min-width: 480px;
    background-color: lightgrey;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 1em;
}


/* mobile */
@media screen and (max-width: 767px) {
    .main_menu {
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 768px) {
    .main_menu {
        width: auto;
        display: flex; 
        list-style: none;
        font-size: 1.8em;
        padding: 0;
        }
    .logo {
            margin: auto;
    }
}
